<!DOCTYPE html>
{% load static %}
{% load bootstrap %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BeautyOnline</title>
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    {% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'polls:index' %}">BeautyOnline</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'polls:Services' %}">Services <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'polls:staff' %}">Employees <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'polls:Services' %}">Find Us <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="{% url 'polls:book2' %}">Book Appointment <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron">




{% if user.is_authenticated %}

{% endif %}


{% block content %}
{% endblock %}

</div>
</body>
</html>